<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <!--Link do ico da página-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../../img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
     <!--Fonts Google - JetBrains Mono-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
     <!-- Estilização da Conversão de Moedas-->
    <title>Investimentos</title>
    <!--Link da estilização do sidebar-->
      <link rel="stylesheet" href="../../styles/sidebar.css">
      <!--Link da estilização do header-->
    <link rel="stylesheet" href="../../styles/header.css">
    <!--Link da estilização da Home-->
      <!--Estilização da própria página-->
      <link rel="stylesheet" href="../../styles/home.css">
      <style>
        body {
          background-color: #222831;
          overflow: hidden;
        }
      </style>
  </head>
  <body>
    <!--Header da página-->
    <header>
      <img src="../../../../img/favicon.ico" alt="Logo da página">
    <nav>
      <ul class="nav_links">
        <li><a href="../Cotacao/cotacaoDolarAmericano.html">Dolar Américano</a></li>
        <li><a href="../Cotacao/cotacaoEuro.html">Euro</a></li>
        <li><a href="../Cotacao/cotacaoReal.html">Bitcoin</a></li>
      </ul>
    </nav>
    <a href="#" class="cta"><button>Contato</button></a>
  </header>
  <!--Sidebar da página-->
    <div class="navigation">
        <ul>
          <li class="list active">
            <a href="../VisaoGeral/visaogeral.html">
              <span class="icon"><ion-icon name="eye-outline"></ion-icon></span>
              <span class="title">Visualizar Gráfico</span>
            </a>
          </li>
          <li class="list">
            <a href="../Conversor/conversor.html">
              <span class="icon"><ion-icon name="logo-bitcoin"></ion-icon></span>
              <span class="title">Conversor</span>
            </a>
          </li>
          <li class="list">
            <a href="../Cotacao/cotacao.html">
              <span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
              <span class="title">Cotação</span>
            </a>
          </li>
        </ul>
      </div>
      <!--Cotação da página-->
      <div class="content">
        <h2 id="title"></h2>
        <p id="cod">Código da Moeda : <span id="codCoin"></span> <br> Unidade Monetário : <span id="unidMonetaria"></span></p>
        <p id="date">Data : <span id="thisdate"></span></p>
        <p id="pct">Varição da cotação : <span id="pctChange"></span></p>
        <p id="value">Valor máximo : <span id="maxvalue"></span> <br> Valor Mínino : <span id="minvalue"></span></p>
        <a href="../Cotacao/cotacao.html">Voltar para Home</a>
      </div>
            <!--Scrip da cotação (Dolar Americano)-->
            <script src="../../script/cotacaoDolarAmericano.js"></script>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <script src="../../script/sidebar.js"></script>
  </body>
</html>
